html, body {
	height: 100%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('../images/portersquareescalator.jpg') no-repeat center center;
  background-size: cover;
}

a {
  color: #00B7FF;
}

h1.brokenIndicator {
	background-color: rgba(50,50,50,.7);
	color: #fff;
	font-size: 4em;
	padding: 20px;
	width: 150px;
	margin: 0 auto;
}